<%
  endpoint = {
    name: "Users::Followings#index",
    method: "GET",
    url: "/users/followings",
    description: "List users you're following",
    sample_payload: nil,
    auth_required: true
  }
  index = 5
%>

<div class="endpoint">
  <div class="endpoint-header">
    <span class="method"><%= endpoint[:method] %></span>
    <span class="url"><%= endpoint[:url] %></span>
    <span class="desc"><%= endpoint[:description] %></span>
    <% if endpoint[:auth_required] %>
      <span class="auth-required">Auth Required</span>
    <% else %>
      <span class="no-auth">No Auth</span>
    <% end %>
  </div>
  
  <% if endpoint[:sample_payload] %>
    <details class="payload">
      <summary>Payload</summary>
      <pre><%= JSON.pretty_generate(endpoint[:sample_payload]) %></pre>
    </details>
  <% end %>
  
  <div class="actions">
    <button onclick="testEndpoint('<%= endpoint[:method] %>', '<%= endpoint[:url] %>', <%= endpoint[:sample_payload]&.to_json || 'null' %>)">
      Test
    </button>
    <button onclick="performanceTest('<%= endpoint[:method] %>', '<%= endpoint[:url] %>', <%= endpoint[:sample_payload]&.to_json || 'null' %>, 10)">
      Perf (10x)
    </button>
  </div>
  
  <div id="result-<%= index %>" class="result hidden">
    <div class="tabs">
      <button class="tab active" onclick="showTab(this, 'summary-<%= index %>')">Summary</button>
      <button class="tab" onclick="showTab(this, 'request-<%= index %>')">Request</button>
      <button class="tab" onclick="showTab(this, 'response-<%= index %>')">Response</button>
    </div>
    <div id="summary-<%= index %>" class="tab-content active">
      <pre class="content"></pre>
    </div>
    <div id="request-<%= index %>" class="tab-content">
      <pre class="content"></pre>
    </div>
    <div id="response-<%= index %>" class="tab-content">
      <pre class="content"></pre>
    </div>
  </div>
</div>