<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<div class="container">
  <h1>All Users</h1>

  <% if @users.any? %>
    <div class="users-list">
      <% @users.find_each do |user| %>
        <%= render 'user_card', user: user %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-state">
      <h2>No users found</h2>
      <p>Be the first to join the community!</p>
      <%= link_to "Create User", new_user_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="actions-footer">
    <%= link_to "New user", new_user_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render 'shared/user_card_styles' %>
