<p style="color: green"><%= notice %></p>

<%= render @sleep %>

<div>
  <%= link_to "Edit this sleep", edit_users_sleep_path(@sleep) %> |
  <%= link_to "Back to sleeps", users_sleeps_path %>

  <%= button_to "Destroy this sleep", users_sleep_path(@sleep), method: :delete %>
</div>
